.background {
    -fx-background-color: #E8E7E7;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #B32020;
    -fx-opacity: 0.6;
}

.label-bright {
    -fx-font-size: 11pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: #B32020;
    -fx-opacity: 1;
}

.label-header {
    -fx-font-size: 32pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #B32020;
    -fx-opacity: 1;
}

.table-view {
    -fx-base: #E8E7E7;
    -fx-control-inner-background: #E8E7E7;
    -fx-background-color: #E8E7E7;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 10;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
            transparent
            transparent
            derive(#B32020, 80%)
            transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 10pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #B32020;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: #B32020;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #E8E7E7 transparent #E8E7E7;
    -fx-background-color: transparent, derive(#E8E7E7,20%);
}

.split-pane {
    -fx-padding: 1 0 0 0;
}

.menu-bar {
    -fx-background-color: derive(#E8E7E7,20%);
}

.context-menu {
    -fx-background-color: derive(#E8E7E7,50%);
}

.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #B32020;
    -fx-opacity: 0.9;
}

.menu .left-container {
    -fx-background-color: #E8E7E7;
}

.text-field {
    -fx-font-size: 12pt;
    -fx-font-family: "Segoe UI Semibold";
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #B32020;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #B32020;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: #E8E7E7;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #E8E7E7;
    -fx-text-fill: #B32020;
}

.button:pressed, .button:default:hover:pressed {
    -fx-background-color: #E8E7E7;
    -fx-text-fill: #B32020;
}

.button:focused {
    -fx-border-color: #B32020, #B32020;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #E8E7E7;
    -fx-text-fill: #B32020;
}

/*.button:default {
    -fx-background-color: red;
    -fx-text-fill: #E8E7E7;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color,30%);
}*/
